<section class="container-fluid top-home">
  <div class="row">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/img/home/home-carrousel1.jpg" alt="Random first slide" class="img-fluid">
        <div class="carousel-caption">
          <h3>Get promotions</h3>
          <p>If you order above 15$ you get voucher for 10% price lower</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/home/home-carrousel2.jpg" alt="Random second slide" class="img-fluid">
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

</section>
